	<map name="map">
	 <area data-maphilight='{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"00ff00","fillOpacity":0.6, "alwaysOn":true}' shape="circle" coords="175,342,10,16" ng-click="modal()">

	  <area data-maphilight='{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"00ff00","fillOpacity":0.6, "alwaysOn":true}' shape="circle" coords="200,400,10,16" ng-click="modal()">

	  <area data-maphilight='{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"00ff00","fillOpacity":0.6, "alwaysOn":true}' shape="circle" coords="610,330,10,16" ng-click="modal()">

	  <area data-maphilight='{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"00ff00","fillOpacity":0.6, "alwaysOn":true}' shape="circle" coords="485,410,10,16" ng-click="view4()">


</map>