* {
	margin:0;
	padding:0;
	}

body {
background:url(../images/banner.jpg) repeat-x top center;
width: 1600px; height: 200px; padding: 0px;
text-align: center;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px;
font-weight: bold;
color:#cccccc; 
}

#logomdn {
width: 81px; height: 82px;
position: absolute; top: 8px; left: 75%;
}	
	

#menu {
	height:18px; width:750px;
	padding:96px 0px 0px 0px;
	margin: 0px 100px 0px 100px;
	}

	#menu ul {
	list-style-type:none;
	}
#menu li {
	float:left;
	}
#menu li a {
	padding:0 10px;
	display:block;
	color:#333333;
	margin-right:2px;
	border-right:1px solid #000;
	}

#menu li a:hover {
	color:#999999;

	}


.menuTop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#006699;
}

a:visited {
	color: #0033FF;
	text-decoration: underline;
	font-weight:bold;
}
a:hover {
	text-decoration: underline;
	color: #cccccc;
    font-weight:bold;
}
a:active {
	color: #0033FF;
	text-decoration: none;
	font-weight:bold;
}
